
.wrapper {
	grid-gap: 10px;
	display: grid;
	grid-template-columns: 600px 700px auto;
	grid-template-rows: 100px 200px 800px auto 200px;
}

.one {
	grid-column: 1 / 4;
	grid-row: 1;
	color: #000000;
	background: #0373a3;
	border: 1px solid #00a5f1;
	text-align: center;
}

.two {
	grid-column: 1 / 4;
	grid-row: 2 / 3;
	color: #000000;
	background: #519467;
	border: 1px solid #4674D9;
	text-align: left;
}

.three {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	color: #000000;
	background: #519467;
	border: 1px solid #4674D9;
	text-align: left;
}

.four {
	grid-column: 2 / 4;
	grid-row: 3;
	color: #000000;
	border: 1px solid #4674D9;
	text-align: left;
}

.five {
	grid-column: 1 / 4;
	grid-row: 4;
	color: #000000;
	background: #519467;
	border: 1px solid #4674D9;
	text-align: left;
}

.six {
	grid-column: 1 / 4;
	grid-row: 5;
	color: #000000;
	background: #519467;
	border: 1px solid #4674D9;
	text-align: left;
}

.dtbl {
	overflow: auto;
	width: 95%;
	height: 80%;
	border: 1px solid #4674D9;
	position: relative;
	left: 10px;
}

table {
	table-layout: fixed;
	width: 100%;
	border: 2px solid #30302b;
	border-collapse: collapse;
}

tr:nth-child(even) {
	background-color: #cfc3c3cc;
	border: 1px solid #020202;
}

tr:nth-child(odd) {
	background-color: #f5b5b5cc;
	border: 1px solid #020202;
}

th {
	background-color: rgb(43, 106, 179);
	border: 1px solid #020202;
	border-collapse: collapse;
	position: sticky;
	top: 0;
}
